<h1><%= @recipe.name %></h1>

<h3>Ingredients</h3>

<% if @recipe.ingredients.any? %>
<p>You will need the following ingredients:</p>
  <% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.food %></li>
  </ul>
  <% end %>
<% else %>
  <p>You forgot to add the ingredients for this recipe!</p>
<% end %>

<h3>Instructions</h3>

<% if @recipe.instruction %>
  <p>Follow these instructions carefully!</p>
  <%= @recipe.instruction %>
<% else %>
  <p>You forgot to include the instructions! You will probably need to edit!</p>
<% end %>

<h4>Update Recipe</h4>
<p>If you haven't entered the ingredients and/or instructions yet, or if you'd like to change a pre-existing recipe, you can edit <a href="/recipe/<%= @recipe.id %>/edit">here.</a></p>

<h4>Delete</h4>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <p>If you're sure you don't like this recipe anymore, go ahead and click the button.</p>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete!</button>
</form>
