<h1>Edit your <%= @recipe.name %> Recipe! </h1>

<h2>Ingredients</h2>
<% if @recipe.ingredients.any? %>
<p>Check those ingredients you would like to delete from the recipe. You can add new ingredients below.</p>
  <% @recipe.ingredients.each do |ingredient| %>
  <form class="form-group" action="/recipe/<%= @recipe.id %>/edit/delete" method="post">
    <input type="hidden" name="_method" value="delete">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id %>">
          <%= ingredient.food %>
        </label>
      </div>
    <% end %>
    <button type="submit" class="btn">Delete</button>
  </form>
<% else %>
  <p>There are no ingredients in this receipe! Please add them below!</p>
<% end %>



<h3>Add Ingredients to Recipe.</h3>
<p>Add each ingredient separately. When you've entered the last one, click the "Done" button!</p>

<form action="/recipe/<%= @recipe.id %>/edit" method="post">
  <div class="form-group">
    <label for="food">Add each ingredient:</label>
    <input name="food" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>

<h2>Instructions</h2>

<% if @recipe.instruction %>
  <p>Follow these instructions carefully!</p>
  <%= @recipe.instruction  %>
<% else %>
  <p>You can add the instructions below. Don't forget to include the amounts in the instructions!</p>
  <%= @recipe.instruction %>
<% end %>

<h3>Add Instructions:</h3>

<form action="/recipe/<%= @recipe.id %>/add_instruction" method="post">
  <div class="form-group">
    <label for="instructions">Add instructions:</label>
    <input name="instructions" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>

  <a href="/recipes/<%= @recipe.id %>"><button type="button" class="btn">Done!</button></a>
