<h1><%= @recipe.name %></h1>

<h3>Ingredients</h3>

<% if @recipe.ingredients.any? %>
<p>You will need the following ingredients:</p>
  <% @recipe.ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.food %></li>
  </ul>
  <% end %>
<% else %>
  <p>You forgot to add the ingredients for this recipe!</p>
<% end %>

<h3>Instructions</h3>

<% if @recipe.instruction %>
  <p>Follow these instructions carefully!</p>
  <%= @recipe.instruction %>
<% else %>
  <p>You forgot to include the instructions! You will probably need to edit!</p>
<% end %>

<h4>Update Recipe</h4>
<p>If you haven't entered the ingredients and/or instructions yet, or if you'd like to change a pre-existing recipe, you can edit <a href="/recipe/<%= @recipe.id %>/edit">here.</a></p>

<h4>Delete</h4>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <p>If you're sure you don't like this recipe anymore, go ahead and click the button.</p>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete!</button>
</form>

<h3>Add a Tag!</h3>
<p>Add a tag so you can search for this recipe later.</p>

<% if @recipe.tags.any? %>
<p>Use any of the following tags, or add a new tag below!</p>
  <% @recipe.tags.each do |tag| %>
  <form class="form-group" action="/recipes/<%= @recipe.id %>" method="post">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>">
          <%= tag.meal %>
        </label>
      </div>
  <% end %>
    <button type="submit" class="btn">Add tag!</button>
  </form>
<% else %>
  <p>You should add some tags to use with your recipes!</p>
<% end %>

<h4>Create a Tag!</h4>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <div class="form-group">
    <label for="meal">Type of meal:</label>
    <input name="meal" type="text" class="form-control">
  </div>
  <button type="submit" class="btn">Add Tag!</button>
</form>
